/**
 * Site header
 */
.site-header {
    min-height: $header-height;
    background-color: $footer-grey;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0 0 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         0 0 15px 0 rgba(0, 0, 0, 0.25);

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    line-height: $header-height;
    letter-spacing: -1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
    float: left;
    background-color: $footer-grey;
}

.site-nav {
    max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
    max-width:         calc(800px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    line-height: $header-height;

    @include media-query($on-laptop) {
      max-width: -webkit-calc(800px - (#{$spacing-unit}));
      max-width:         calc(800px - (#{$spacing-unit}));
      padding-right: $spacing-unit / 2;
      padding-left: $spacing-unit / 2;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        float: right;
        line-height: 45px;
        padding-left: 10px;
        padding-right: 10px;
    }

    a {
        color: $brand-color;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        font-weight: bold;
    }

    a:hover {
        color: darken($brand-color, 10%);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
        font-weight: bold;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px;
        }
    }
}




/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0 0 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.footer-wrapper {
  max-width: -webkit-calc(800px - (#{$spacing-unit} * 2));
  max-width:         calc(800px - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(800px - (#{$spacing-unit}));
    max-width:         calc(800px - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.contact-list,
.social-media-list {
    list-style: none;
    padding-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
   padding-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    padding-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

.content-box {
    background-color: #555555;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    -moz-box-shadow:    0 0 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow:         0 0 15px 0 rgba(0, 0, 0, 0.25);
}

.page-content {
    padding: $spacing-unit;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding-top: 15px;
    padding-left: 0;
    list-style: none;

    > li {
        padding-bottom: $spacing-unit;

    }
}

.post-meta {
    font-size: $small-font-size;
    color: lighten($grey-color, 25%);
}

.post-link {
    display: block;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}



/**
 * Posts
 */
.post-title {
    font-size: 42px;
    color: $brand-color;
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);


    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {

    h2 {
        font-size: 32px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

        @include media-query($on-laptop) {
            font-size: 22px;

        }
    }

    h4 {
        font-size: 20px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}