* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: calc(100% - 255px);
    margin: 0 auto -110px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 110px; /* '.push' must be the same height as 'footer' */
}

footer {
    background-color: $footer-grey;
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
